/** Fonts **/

@font-face {
  font-family: "BPGDejaVuSansExtraLight2012";
  src: url('fonts/BPG DejaVu Sans ExtraLight 2012.ttf') format(truetype);
}

@font-face {
  font-family: "BPGDejaVuSansExtraLightCaps2012";
  src: url('fonts/BPG DejaVu Sans ExtraLight Caps 2012.ttf') format(truetype);
}

@font-face {
  font-family: 'BPGNinoEliteBook2013';
  src: url("fonts/BPG_Nino_Elite_Book_2013.otf") format(otf)
}

@font-face {
  font-family:'DejaVuSansBoldCondensedM';
  src: url("fonts/DejaVu Sans Bold Condensed M.ttf");
}

@font-face {
  font-family:'DejaVuSansLightM';
  src: url("fonts/DejaVu Sans Light M.ttf");
}

/** General Styles  **/

html, body {
  font-family: "DejaVuSansLightM";
  height: 100%;
}


.main-content {
  min-height: 100%;
}

body {
  margin: 0;
  background: url(../images/ricepaper.png) repeat;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.0em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: BPGDejaVuSansExtraLight2012;  
}

a {
  color: #333333;
}

a:hover {
  color: #333333;
  text-decoration: none;
}

/** Header Styles **/

.navbar-static-top {
  background-color: rgba(237, 129, 36, 0.6);
  padding: 1em;
  box-shadow: 0px 2px 2px #888888;
  
}

a.navbar-brand {
  color: #fff;
}

.navbar-brand {
  height: 100%;
  font-weight: normal;
  font-size: 2.6em;
  color: #33916D;
  box-shadow: 2px 2px 2px #888888;
}

.navbar-brand img {
  height: 3em;
  vertical-align: middle;
}

/** Contest Styles **/

img.main-banner {
  width: 100%;
  margin: 10px 0 20px 0;
  box-shadow: 2px 2px 2px #888888;
}

#contest-rules {
  background-color: rgba(70, 161, 178, 0.4);
  padding: 2em;
  width: 95%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888888;
}

#contest-rules .collapse {
  margin: 0 0 0 2em;
}

.schedule-list li {
  padding: 0 0 5px 20px;
  display: inline-block;
  position: relative;
  margin: 0 0 0 1.5em;
}

.schedule-list li:before {
  font-family: 'Glyphicons Halflings';
  content: '\e023';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}

.location-list li {
  padding: 0 0 5px 20px;
  display: inline-block;
  position: relative;
  margin: 0 0 0 1.5em;
}

.location-list li:before {
  font-family: 'Glyphicons Halflings';
  content: '\e062';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}

#front-map {
  padding: 30px;
  margin: 10px 0px;
  height: 400px;
  width: 95%;
  box-shadow: 2px 2px 2px #888888;
}

/** Sidebar **/

.side-block {
  padding: 10px 10px 10px 15px;
  margin-bottom: 0 0 10px 0;
  border-radius: 10px;
  background-color: rgba(161, 205, 89, 0.6);
  box-shadow: 2px 2px 2px #888888;
}

.side-block button {
  display: block;
}

aside.side-block {
    margin: 10px 0 10px 0;
}

aside.side-block img {
  display: block;
  margin: 0 auto;
}

/** Location Styles **/

.description {
  padding: 2.0em 0;
}

.geography {
  padding: 2.0em 0;
}

.gallery {
  padding: 2.0em 0;
}

img.loc_logo {
  opacity: 0.6;
}
img.loc_logo:hover {
  opacity: 1.0;
} 

.geography ul.location-list li {
  display: block;
}

.gallery img {
  margin: 10px;
  opacity: 0.6;
}

.gallery img:hover {
  opacity: 1.0;
}

.crop {
  height: 200px;
  overflow: hidden;
}

.schema {  
  padding: 0;
  box-shadow: 2px 2px 2px #888888;
}

.schema img {
  height: 240px;
  width: 100%;
  overflow: hidden;
}

.schema #map {
  height: 240px;
  width: 100%;
  
}

#lightbox .modal-content {
  display: inline-block;
  text-align: center;
  background-color: #103A60;
  background-image: url("../images/ricepaper.png");

}
#lightbox .modal-content img {
  opacity: 1.0;
  padding: 0;
  margin: 0;
}
#lightbox .close {
  opacity: 1;
  color: #333333;
  font-size: 1em; 
  background-color: rgba(0, 0, 0, 0.0);
  padding: 5px;
  border-radius: 45px;
  position: absolute;
  top: -15px;
  right: -55px;
  z-index:1032;
}

/** Footer **/

.footer {
  position: relative;
  margin-top: 50px; /* negative value of footer height */
  height: 12em;
  clear:both;
  padding-top:20px;

  background-image: url("images/ricepaper.png") repeat;
  background-color: rgba(55, 102, 118, 0.7);
  border-top: 2px solid rgba();
  color: #fff;
} 

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li i {
    padding-right: 10px;
}



