@font-face {
  font-family: "ArArchyLight";
  src: url('../fonts/ar-archy-extralight.ttf') format(truetype);
  font-style: normal;
}

@font-face {
  font-family: ArArchyNormal;
  src: url('fonts/ar-archy-regular.ttf') format(truetype);
  font-style: normal;
}

@font-face {
  font-family: "ArArchyThin";
  src: url('fonts/ar-archy-thin.ttf') format(truetype);
  font-style: normal;
}

@font-face {
  font-family: "../fonts/BPGDejaVuSansExtraLight2012";
  src: url('fonts/BPG DejaVu Sans ExtraLight 2012.ttf') format(truetype);
}

@font-face {
  font-family: "BPGDejaVuSansExtraLightCaps2012";
  src: url('fonts/BPG DejaVu Sans ExtraLight Caps 2012.ttf') format(truetype);
}

@font-face {
  font-family: "BPGNinoEliteBook2013";
  src: url('../fonts/BPG_Nino_Elite_Book_2013.otf') format(otf);
}

html, body {
  height: 100%;
  font-family: BPGDejaVuSansExtraLight2012;
}

body {
  margin: 0;
  background: url("../images/ricepaper_v3_@2X.png") repeat;
}

h1 {
  font-size: 2.5em;
}

a {
  color: #333333;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

/** Header Styles **/

.navbar-static-top {
  background-color: #84C9AF;
  background-image: url("../images/ricepaper.png");
  padding: 40px;
  border-bottom: 4px solid rgba(82, 168, 136, 0.3);
}
nav {}
nav .container {  
  
}

nav a.navbar-brand {
  font-weight: normal;
  font-size: 2.6em;
  color: #33916D;
}

/** Contest Template Styles **/

section.main {
 min-height: 100%;
 height: 100%;
}

section.main header h1 {
  margin-left: .4em;
}

h3.contest-rule {
  font-size: 1.2em;
}

h3.contest-rule:hover {
  font-size: 1.2em;
  cursor: pointer;
}
.contest-rule {
  margin-left: 20px;
}

div.collapse p {
  text-align: justify;
  margin-left: 10px;  
  padding: 0 10px;
}
.location-list li {
  padding: 0 0 5px 20px;
  display: block;
  position: relative;
}
.location-list li:before {
  font-family: 'Glyphicons Halflings';
  content: '\e062';
  position: absolute;
  left: 0px;
  top:3px;
  font-size:80%
}

a#download button {
  display: block;   
  margin-bottom: 10px;
}
#announcement {
  margin: 20px 0 0 0;
}
#announcement h1 {
  padding: 0;
  margin: 0 0 20px 0;
}
#announcement p img {
  float: left;
  margin: 0 10px 5px 0;
}

.well {
  background-image: url("../images/ricepaper.png");
}

#front-map {
  border: 4px solid rgba(255, 219, 167, 0.4);
  padding: 30px;
  margin: 10px 0px;
  height: 400px;
  width: 95%;
}

footer {
  background-color: #BA7E29;
  color: #F8F8F8;
  margin-top: 50px;
  height: 200px;
  background-image: url("../images/ricepaper.png");
  padding: 40px;
  border-top: 4px solid rgba(148, 93, 16, 0.3);
  color: #945D10;
}


/** Location Template Styles **/
img.loc_logo {
  opacity: 0.6;
}
img.loc_logo:hover {
  opacity: 1.0;
}
section.main header {
  margin-bottom: 50px;
}
section.main header img {
  height: 25em;  
}
section.main header h1 {
}
a.download {
  margin: 0 50px 0px 0;
}
section.geography {
  margin-top: 2em;
}
.geography .location-list {

}

strong#deadline {
  display: inline-block;
  margin-top: 20px;
}
section.gallery img {
  padding: 10px 10px 10px 0;
  opacity: 0.6;
  max-width: 400px; 
}
.crop {
  height: 200px;
  overflow: hidden;
}
section.gallery img:hover {
  opacity: 1.0;
}
#map {
  height: 20em;
  width: 30em;
  border: 4px solid rgba(255, 219, 167, 0.4);
}

/** BS Modal Lightbox Effect **/
#lightbox .modal-content {
  display: inline-block;
  text-align: center;
  background-color: #103A60;
  background-image: url("../images/ricepaper.png");

}
#lightbox .modal-content img {
  opacity: 1.0;
  padding: 0;
  margin: 0;
}
#lightbox .close {
  opacity: 1;
  color: #333333;
  font-size: 1em; 
  background-color: rgba(0, 0, 0, 0.0);
  padding: 5px;
  border-radius: 45px;
  position: absolute;
  top: -15px;
  right: -55px;
  z-index:1032;
}
